.running-line {
	display: flex;
	font-family: Merriweather, sans-serif;
	background-color: #f54932;
	white-space: nowrap;
	color: #fff;
	font-size: 22px;
	line-height: 1.1;
	text-transform: uppercase;
	height: 60px;
	overflow: hidden;
}

.running-line__text {
	flex-shrink: 0;
	padding-block: 18px;
	min-width: 100%;
	white-space: nowrap;
	/* animation-name: runningLine; */
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes runninLine {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-100%);
	}
}

@media screen and (max-width: 375px) {
	.running-line {
		height: 38px;
		font-size: 16px;
	}

	.running-line__text {
		padding-block: 11px;
	}
}
